<!DOCTYPE html>
<html>
    <head>
        <title>Foodible</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="C:\Users\soumyasarang\.vscode\Food Website\public\stylesheet.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <style>
          .jumbotron {
            margin-top:50px;
            height: 400px;
            text-align: center;
            color: white;
            background-color: #990000;
          }
          .content{
            margin: 30px;
          }
          .col-4{
            outline-color: #990000;
            outline-width: 3px;
            outline-style: solid;
            padding-top: 20px;
            background-color: #ffcccc;
            align-items: center;
            text-align: center;
          }
          label {
            display: flex;
          }
          #addrow {
            margin-top: 10px;
          }

          label {
            display: flex;
          }
          #addrow {
            margin-top: 10px;
          }
          .visible {
            visibility: visible;
          }
          .invisible {
            visibility: hidden;
          }

        </style>
    </head>
    <body>
        <!--ALL NAVBAR CODE-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Foodible</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/restaurantlist">All Restaurants </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pantrylist">All Food Pantries</a>
                  </li>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Get Involved <span class="sr-only">(current)</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/addrestaurant">I'm a Restaurant Owner <span class="sr-only">(current)</span> </a>
                    <a class="dropdown-item" href="/addpantry">I manage a Food Pantry </a>
                    <a class="dropdown-item active" href="/volunteer">I want to Volunteer <span class="sr-only">(current)</span> </a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <!--END OF NAVBAR CODE-->
          <!--HEADER-->
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Foodible</h1>
              <p class="lead">Ending hunger by eliminating food waste</p>
            </div>
          </div>
          <!--END OF HEADER-->
          
          <!--START MAIN CONTENT-->
          <div class="content">
              <h2>Register to volunteer!</h2>
              <br></br>
            <fieldset disabled>
              <!--Start of form-->
              <form name='frmVolunteer' method="POST" onSubmit="return submitForm();">
                <!--Personal Information-->

            <div class="visible" id="infodiv">
                <h4>Personal information:</h4>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input name="name" type="text" class="form-control" id="inputName" placeholder="John Doe" value="<%=volunteer.name%>">
                </div>
                  <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input name="email" type="email" class="form-control" id="inputEmail" placeholder="example@email.com" value="<%=volunteer.email%>">
                </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="<%=volunteer.address%>">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input name="volunteercity" type="text" class="form-control" id="inputCity" value="<%=volunteer.volunteercity%>">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input name="state" type="text" class="form-control" id="inputState" value="<%=volunteer.state%>">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input name="zip" type="text" class="form-control" id="inputZip" value="<%=volunteer.zip%>">
                  </div>
                </div>
              </div>
                
              <!--Restaurant-->
              <div id="restaurantdiv">
                <h4>Selected Restaurant</h4>
                <div class="form-group">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                      <h5 class="card-title"><%=volunteer.restaurantradio %></h5>
                      </div>
                    </div>
                </div>
            </div>

            <!--Food Pantry-->
            <div id="foodpantrydiv">
                <h4>Selected Food Pantry</h4>
                <div class="form-group">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                      <h5 class="card-title"><%=volunteer.pantryradio %></h5>
                      </div>
                    </div>
                </div>
            </div>

                   
              <!--Common Items and Time-->
              <div id="itemdiv">
                <h4>Selected pickup and delivery times</h4>
                <div class="form-group">
                  <p>Pickup date/time: </p>
                  <input name="pickupDate" type="text" value="<%= volunteer.pickupDate %>">
                  <input name="pickupTime" type="text" value="<%= volunteer.pickupTime %>">
                </div>
                <div class="form-group">
                  <p>Pick a date and time to deliver your items to your chosen food pantry: </p>
                  <input name="deliveryDate" type="text" value="<%= volunteer.deliveryDate %>">
                  <input name="deliveryTime" type="text" value="<%= volunteer.deliveryTime %>">
                </div>
                <br></br>
                <p>Thank you for joining the fight to end hunger and food waste!</p>
              </div>
                <!--End of form-->

              </form>
            </fieldset>
          </div>
          <!--END MAIN CONTENT-->

    </body>
    <script>
      //FORM CODE
      $( document ).ready(function() {
      });      

   
      //END FORM CODE
    </script>
</html>